<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJbTWWL3mX1d6Nwd8ZrVRjBwtWULa0X6c</string>
	<key>GCM_SENDER_ID</key>
	<string>137930630306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knowitall.driver</string>
	<key>PROJECT_ID</key>
	<string>know-it-all---driver</string>
	<key>STORAGE_BUCKET</key>
	<string>know-it-all---driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:137930630306:ios:5b33035451996d2ec5a3fb</string>
	<key>CLIENT_ID</key>
	<string>137930630306-m1edrbehaaer0ad83u9v50ppn3h0qlbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137930630306-m1edrbehaaer0ad83u9v50ppn3h0qlbc</string>
</dict>
</plist>
