<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtF__xxAOSn2EFkX1XBMgdXuKsTcXcCo4</string>
	<key>GCM_SENDER_ID</key>
	<string>269946166683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapitclean.provider</string>
	<key>PROJECT_ID</key>
	<string>know-it-all-tapclean-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>know-it-all-tapclean-driver.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269946166683:ios:49d69494df74be3961153e</string>
</dict>
</plist>
